@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  90% {
    transform: translateX(10px); }
  100% {
    opacity: .8;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(300px); }
  80% {
    transform: translateX(-20px); }
  100% {
    opacity: .8;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

ul {
  list-style: none; }

@font-face {
  font-family: "beyond";
  src: url("../fonts/beyond_the_mountains.otf"); }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7rem;
  color: #777;
  padding: 3rem;
  max-width: 1270px; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 3.2rem;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .heading-primary--main {
    opacity: .8;
    display: block;
    font-size: 3rem;
    font-weight: 900;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-delay: .1s;
    animation-timing-function: ease-in; }
    .heading-primary--main .first-name {
      letter-spacing: 1.5rem; }
    .heading-primary--main .last-name {
      letter-spacing: .75rem; }
  .heading-primary--sub {
    display: block;
    margin-top: 10px;
    text-transform: none;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: .75rem;
    line-height: 2rem;
    opacity: .8;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-delay: .1s;
    animation-timing-function: ease-in; }

@media screen and (min-width: 768px) {
  .heading-primary {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 6.2rem;
    margin-bottom: 60px; }
    .heading-primary--main {
      opacity: .8;
      display: block;
      font-size: 6rem;
      font-weight: 900;
      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-delay: .1s;
      animation-timing-function: ease-in; }
      .heading-primary--main .first-name {
        letter-spacing: 3.5rem; }
      .heading-primary--main .last-name {
        letter-spacing: 2rem; } }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  padding: 10px 10px;
  display: inline-block;
  position: relative;
  font-size: 1.4rem;
  transform: rotate(21.5deg);
  clip-path: polygon(0% 0%, 88% 0%, 100% 100%, 12% 107%);
  -webkit-clip-path: polygon(0% 0%, 88% 0%, 100% 100%, 12% 107%); }

.btn:hover {
  transform: rotate(0deg);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  color: #a1cda8; }

.btn:active {
  transform: scale(1.1);
  transform: translateY(-1px);
  z-index: 1;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #ff0080; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn-white::after {
  background-color: #fff; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-to-top:link, .btn-to-top:visited {
  color: #ff0080;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  padding: 10px 10px;
  font-size: 1.4rem;
  clip-path: polygon(0% 0%, 88% 0%, 100% 100%, 12% 107%);
  -webkit-clip-path: polygon(0% 0%, 88% 0%, 100% 100%, 12% 107%); }

.btn-to-top:hover {
  color: #fff; }

.btn-to-top:active {
  transform: scale(1.1);
  transform: translateY(-1px);
  z-index: 1;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

@media screen and (min-width: 512px) {
  .btn:link, .btn:visited {
    transform: rotate(16.5deg); }
  .btn:hover {
    transform: rotate(0deg); } }

@media screen and (min-width: 650px) {
  .btn:link, .btn:visited {
    transform: rotate(12.5deg); }
  .btn:hover {
    transform: rotate(0deg); }
  .btn:active {
    transform: scale(1.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); } }

@media screen and (min-width: 768px) {
  .btn:link, .btn:visited {
    transform: rotate(0deg); }
  .btn:hover {
    transform: rotate(12.5deg); }
  .btn:active {
    transform: scale(1.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); } }

main {
  display: flex;
  flex-direction: column;
  background-color: #eee;
  padding-bottom: 20px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
  animation-name: fadeIn;
  animation-duration: .5s;
  animation-timing-function: ease-in; }

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20.8rem;
  margin-top: -17vh;
  list-style: none; }

.links {
  display: flex;
  flex-direction: column; }
  .links a {
    width: 12rem;
    height: 1.7rem;
    margin-bottom: 1rem; }

.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  margin: 5rem 1rem;
  padding: 10px 10px;
  align-self: center;
  width: 90%;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-delay: .1s;
  animation-timing-function: ease-in; }
  .mainContent__header {
    text-align: center;
    font-size: 3rem;
    font-family: beyond;
    color: #ff0080;
    margin-bottom: 1rem; }
  .mainContent__text {
    background-color: #fff;
    box-shadow: -5px 10px 19px -5px rgba(176, 173, 176, 0.6);
    border-radius: 25px;
    color: #777;
    margin: 1.5rem;
    padding: 1.5rem;
    font-size: 1.5rem;
    font-weight: 300;
    align-content: center;
    text-indent: 5rem; }
  .mainContent p {
    margin-bottom: 1rem; }
  .mainContent a {
    text-decoration: none;
    color: #ff0080;
    font-weight: 400; }
  .mainContent a:hover {
    color: #a1cda8; }

.images {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  order: 3;
  padding-bottom: 100px; }
  .images img {
    height: 90%;
    width: 90%;
    border-radius: 25px;
    box-shadow: -5px 10px 19px -5px #b0adb0;
    margin: 10px 5px; }
    .images img:hover {
      transform: translateY(-2px); }
    .images img:active {
      transform: translateY(2px); }

footer {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  z-index: -1;
  background-image: linear-gradient(to bottom right, rgba(255, 0, 128, 0.8), rgba(255, 140, 0, 0.8), rgba(64, 224, 208, 0.8));
  height: 25rem;
  margin-top: -30%; }
  footer p {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300; }

@media screen and (min-width: 512px) {
  nav {
    margin-top: -17.5vh; }
  footer {
    margin-top: -25%; }
  .heading-primary--main {
    font-size: 5rem;
    line-height: 5rem; }
    .heading-primary--main .first-name {
      letter-spacing: 1.5rem; }
    .heading-primary--main .last-name {
      letter-spacing: .75rem; } }

@media screen and (min-width: 768px) and (orientation: landscape) {
  nav {
    order: 1;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
    margin-top: 30px;
    list-style: none;
    margin-top: 1rem; }
  .links {
    flex-direction: row;
    margin-right: 10px; }
    .links a {
      margin-right: 1.5rem; }
  .header {
    order: 2; }
  .mainContent {
    order: 3; }
  .images {
    order: 4;
    flex-direction: row; }
    .images img {
      height: 30%;
      width: 30%; }
  footer {
    margin-top: -10%; } }

.row {
  max-width: 114rem;
  background-color: #eee;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 3rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    background-color: #ff0080;
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 4rem; }
  .row .col-1-of-2 {
    width: calc((100% - 4rem) /2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 4rem)/3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 4rem)/3) + 4rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 4rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 4rem) / 4) + 4rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 4rem) / 4) + 2 * 4rem); }

.header {
  height: 65vh;
  background-image: linear-gradient(to left top, rgba(255, 0, 128, 0.8), rgba(255, 140, 0, 0.8), rgba(64, 224, 208, 0.8)), url(../images/tabbLight.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 47vh);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 47vh); }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.flex-lists {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.profilePic {
  object-fit: contain;
  box-shadow: -5px 10px 19px -5px #b0adb0;
  width: 25rem;
  border-radius: 25px;
  max-width: 30rem;
  align-self: center;
  margin: 1.5rem;
  margin-bottom: 7rem; }

.mainContent__about-list {
  background-color: #fff;
  box-shadow: -5px 10px 19px -5px #b0adb0;
  border-radius: 25px;
  color: #ff0080;
  margin: 1.5rem;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 300; }
  .mainContent__about-list h3 {
    margin-left: 1rem; }
  .mainContent__about-list li {
    position: relative;
    padding: 1rem 1rem;
    list-style-position: inside;
    cursor: pointer; }

.mainContent__about-list:first-of-type {
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-delay: .1s;
  animation-timing-function: ease-in; }

.mainContent__about-list:nth-of-type(2) {
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-timing-function: ease-in; }

.about-pic1 {
  background-image: url(../images/deadlift.jpeg);
  height: 200px;
  width: 200px;
  background-size: cover;
  flex-basis: auto;
  border-radius: 25px;
  box-shadow: -5px 10px 19px -5px #b0adb0;
  position: absolute;
  top: 5rem;
  right: -4.6rem;
  visibility: hidden; }

.item1:hover > .about-pic1 {
  visibility: visible;
  transition-duration: 2s;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  z-index: 3; }

.about-pic2 {
  height: 200px;
  width: 200px;
  background-size: cover;
  flex-basis: auto;
  border-radius: 25px;
  box-shadow: -5px 10px 19px -5px #b0adb0;
  position: absolute;
  top: 5rem;
  right: -4.6rem;
  visibility: hidden;
  background-image: url(../images/lilymommy.jpg); }

.item2:hover > .about-pic2 {
  visibility: visible;
  transition-duration: 2s;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  z-index: 3; }

.about-pic3 {
  height: 200px;
  width: 200px;
  background-size: cover;
  flex-basis: auto;
  border-radius: 25px;
  box-shadow: -5px 10px 19px -5px #b0adb0;
  position: absolute;
  top: 5rem;
  right: -4.6rem;
  visibility: hidden;
  background-image: url(../images/tabbphotos.jpg); }

.item3:hover > .about-pic3 {
  visibility: visible;
  transition-duration: 2s;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  z-index: 3; }

.about-pic4 {
  height: 200px;
  width: 200px;
  background-size: cover;
  flex-basis: auto;
  border-radius: 25px;
  box-shadow: -5px 10px 19px -5px #b0adb0;
  position: absolute;
  top: 5rem;
  right: -4.6rem;
  visibility: hidden;
  background-image: url(../images/tabbphotos.jpg); }

.item4:hover > .about-pic4 {
  visibility: visible;
  transition-duration: 2s;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  z-index: 3; }

.about-pic5 {
  height: 200px;
  width: 200px;
  background-size: cover;
  flex-basis: auto;
  border-radius: 25px;
  box-shadow: -5px 10px 19px -5px #b0adb0;
  position: absolute;
  top: 5rem;
  right: -4.6rem;
  visibility: hidden;
  background-image: url(../images/tabbphotos.jpg); }

.item5:hover > .about-pic5 {
  visibility: visible;
  transition-duration: 2s;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  z-index: 3; }

@media screen and (min-width: 768px) and (orientation: landscape) {
  .flex-lists {
    display: flex;
    flex-direction: row; }
  .mainContent__about-list {
    flex-flow: row wrap;
    height: 30%; } }

.contact-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
  color: #ff0080;
  font-size: 1.2rem;
  font-weight: 400;
  border: 2px solid #ff0080; }
  .contact-form__field {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #eee;
    border: 1px solid #777;
    padding: .5rem;
    margin: .5rem; }
    .contact-form__field label {
      margin-right: .5rem; }
    .contact-form__field input {
      width: 65%;
      margin-right: .5rem; }
    .contact-form__field textarea {
      flex: 2;
      margin-right: .5rem; }
  .contact-form button {
    align-self: flex-end;
    background-color: #ff0080;
    clip-path: polygon(0% 0%, 88% 0%, 100% 100%, 12% 107%);
    color: white;
    padding: .5rem 1rem;
    margin: .5rem; }
    .contact-form button:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .contact-form button:active {
      transform: translateY(3px); }
