//COLORS
$color-primary: #ff0080;
$color-secondary: #ff8c00;
$color-tertiary: #40e0d0;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
$color-primary-faded: #fa5677;
$color-tertiary-faded: #a1cda8;
$color-light-grey: #eee;
//GRID
$grid-width: 114rem;
$gutter-width: 8rem;
$gutter-horizontal: 4rem;
$gutter-vertical: 3rem;