$color-primary: #FF0080;
$color-secondary: #FF8C00;
$color-tertiary: #40E0D0;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

$color-primary-faded: #FA5677;
$color-tertiary-faded: #A1CDA8;