.flex-lists {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.profilePic {
    object-fit: contain;
    box-shadow: -5px 10px 19px -5px rgba(176,173,176,1);
    width: 25rem;
    border-radius: 25px;
    max-width: 30rem;
    align-self: center;
    margin: 1.5rem;
    margin-bottom: 7rem;
  }
.mainContent__about-list {
    background-color: $color-white;
    box-shadow: -5px 10px 19px -5px rgba(176,173,176,1);
    border-radius: 25px;
    color: $color-primary;
    margin: 1.5rem;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 300;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

    h3 {
        margin-left: 1rem;
    }

    li {
        position: relative;
        padding: 1rem 1rem;
        list-style-position:inside;
        cursor: pointer;
    }
}
.mainContent__about-list:first-child {
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-delay: .1s;
    animation-timing-function: ease-in;
}

.mainContent__about-list:nth-child(2) {
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-timing-function: ease-in;
}


.about-pic1 {
    background-image: url(../images/deadlift.jpeg);
@include aboutPicHidden(250px, 250px);
}

.item1:hover > .about-pic1 {
    @include aboutPicVisible;
}

.about-pic2 {
    @include aboutPicHidden(250px, 250px);
    background-image: url(../images/lilymommy.jpg);
}

.item2:hover > .about-pic2 {
    @include aboutPicVisible;
}

.about-pic3 {
    @include aboutPicHidden(200px, 300px);
    background-image: url(../images/tabbCamera.jpg);
}

.item3:hover > .about-pic3 {
    @include aboutPicVisible;
}

.about-pic4 {
    @include aboutPicHidden(200px, 300px);
    background-image: url(../images/stanley.jpg);
}

.item4:hover > .about-pic4 {
    @include aboutPicVisible;
}

.about-pic5 {
    @include aboutPicHidden(200px, 300px);
    background-image: url(../images/cocktail.jpg);
}

.item5:hover > .about-pic5 {
    @include aboutPicVisible;
}

@media screen and (min-width: 768px)
 and (orientation: landscape) {
     .flex-lists {
         display: flex;
         flex-direction: row;
     }

     .mainContent__about-list {
        height: 28.7rem;
        width: 40%;
    }
 }
