.contact-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
    background-color: $color-white;
    border-radius: 10px;
    color: $color-primary;
    font-size: 1.2rem;
    font-weight: 400;
    border: 2px solid $color-primary;


    &__field {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        background-color: #eee;
        border: 1px solid $color-grey-dark;
        padding: .5rem;
        margin: .5rem;

        label {
            margin-right: .5rem;
        }
        input {
            width: 65%;
            margin-right: .5rem;
        }
        textarea {
            flex: 2;
            margin-right: .5rem;
        }
    }

  button {
        align-self: flex-end;
        background-color: $color-primary;
        clip-path: polygon(0% 0%, 88% 0%, 100% 100%, 12% 107%);
        color: white;
        padding: .5rem 1rem;
        margin: .5rem;

        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 1rem 2rem rgba($color-black, .2);
        }

        &:active {
            transform: translateY(3px);
        }
    }
}