#contactMessage {
    font-size: 1.75rem;
    text-align: center;
    margin-top: 3rem;
    border-top: 1px solid $color-grey-dark;
    padding-top: 2rem;
    width: 50%;
}
.contactContainer {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    padding: 0rem;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 100%;
    border-radius: 10px;
    color: $color-primary;
    font-size: 1.2rem;
    transition: .45 all;
}

.box {
display: flex;
flex-direction: column;
justify-content: center; 
align-items: center;   
background-color: $color-grey-dark;
width: 17rem;
height: 17rem;
margin: 2rem;
border-radius: 1rem;
transition: .5s all;
color: white;
font-size: 3rem;
text-align: center;
    p {
        color: white;
        margin-top: 1rem;
        font-size: 1.5rem;
        font-weight: 300;
        transition: .5s all;
    }
    
    .fa-2x {
        color: white;
    }
    &:hover{
        transform: translateY(.3rem);
            box-shadow: 0 7px 13px 4px #b0adb0;
    }
}

.profilePic {
    object-fit: contain;
    box-shadow: -5px 10px 19px -5px rgba(176,173,176,1);
    width: 17rem;
    border-radius: 1rem;
    max-width: 30rem;
    align-self: center;
    margin: 1.5rem;
    margin-bottom: 7rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    width: 80%;
    padding: 1rem;
    background-color: $color-white;
    border-radius: 10px;
    color: $color-primary;
    font-size: 1.2rem;
    font-weight: 400;
    border: 2px solid $color-primary;


    &__field {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        background-color: #eee;
        border: 1px solid $color-grey-dark;
        padding: .5rem;
        margin: .5rem;

        label {
            margin-right: .5rem;
        }
        input {
            width: 65%;
            margin-right: .5rem;
        }
        textarea {
            flex: 2;
            margin-right: .5rem;
        }
    }

  button {
        align-self: flex-end;
        background-color: $color-primary;
        clip-path: polygon(0% 0%, 88% 0%, 100% 100%, 12% 107%);
        color: white;
        padding: .5rem 1rem;
        margin: .5rem;

        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 1rem 2rem rgba($color-black, .2);
        }

        &:active {
            transform: translateY(3px);
        }
    }
}