main {
    display: flex;
    flex-direction: column;
    background-color: $color-light-grey;
    padding-bottom: 20px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
    animation-name: fadeIn;
    animation-duration: .5s;
    animation-timing-function: ease-in;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20.8rem;
    margin-top: -14vh;
    list-style: none;
    transition: .5s all
}

.nav__links {
    display: flex;
    flex-direction: column;

    a {
        width: 12rem;
        height: 1.7rem;
        margin-bottom: 1rem;
    }
}

.header {
    height: 65vh;
    background-image: linear-gradient( to left top,
    rgba($color-primary, 0.8),
    rgba($color-secondary, 0.8),
    rgba($color-tertiary, 0.8)),
    url(images/tabbLight.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 47vh);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 47vh);

    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

.mainContent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 3rem 1rem;
    padding: 10px 10px;
    align-self: center;
    width: 90%;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-delay: .1s;
    animation-timing-function: ease-in;

    &__header {
        text-align: center;
        font-size: 3rem;
        font-family: beyond;
        color: $color-primary;
        margin-bottom: 1rem;
    }

    &__text {
        background-color: $color-white;
        box-shadow: -5px 10px 19px -5px rgba(176,173,176,.6);
        border-radius: 25px;
        color: $color-grey-dark;
        margin: 1.5rem;
        padding: 1.5rem;
        font-size: 1.5rem;
        font-weight: 300;
        align-content: center;
        text-indent: 5rem;
    }

    p:not(:last-child) {
        margin-bottom: 1rem;
    }

    a {
        text-decoration: none;
        color: $color-primary;
        font-weight: 400;
        transition: .25s all;
    }
    a:hover {
        color: $color-tertiary-faded;
    }
}

.projectInfo {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 40rem;
    width: 70%;
    border-radius: 25px;
    background-color: rgba(#bbf5ef, 0.85);
    position: fixed;
    top: 20%;
    z-index: 3;
    box-shadow: -5px 10px 7px -5px $color-grey-dark;
    align-self: center;
    font-size: 1.5rem;
    padding: 2rem;
    transition: .5s all;
    -webkit-transition: .5s all;
    // opacity: 1;
    border: .5rem solid $color-primary;

    h2 {
        transition: .25s all;
        margin-bottom: 2rem;
        font-size: 2.5rem;
        letter-spacing: .25rem;
    }
}

.moveInRight {
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-fill-mode: backwards;
}

.fadeOut {
    animation-name: fadeOut;
    animation-duration: .75s;
    animation-timing-function: ease-in;
    // animation-delay: .25s;
    animation-fill-mode: backwards;
    // visibility: hidden;
}

.projectInfoBtn  {
    text-align: center;
    display: inline-block;
    padding: 1rem;
    margin: .5rem;
    width: 17rem;
    background-color: $color-primary;
    color: white;
        clip-path: polygon(0% 0%, 88% 0%, 100% 100%, 12% 107%);
        -webkit-clip-path: polygon(0% 0%, 88% 0%, 100% 100%, 12% 107%);
    transition: .3s all;
}

.projectInfo a:hover{
    font-weight: bold;
    background-color: $color-secondary;
}

#closeProjectWindow {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1rem;
    margin: 1rem 1rem 0 0;
    color: $color-secondary;
    transition: .25s all;
    &:hover {
        cursor: pointer;
        color: $color-primary;
    }
}

.projectInfo p {
    margin-top: 2.5rem;
    width: 75%;
    font-size: 1.75rem;
    line-height: 2.5rem;
    transition: .25s all;
    color: rgb(48, 47, 47);
}

.image-grid {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    order: 3;
    padding-bottom: 100px;
    margin: 1rem;
    font-size: 1.75rem;
    font-weight: 300;
    text-align: center;

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $color-grey-dark;
        width: 75%;
        padding-bottom: 2.5rem;
        position: relative;
        text-align: center;
        box-sizing: border-box;

        &:hover img {
            transform: translateY(.3rem);
            box-shadow: -5px 10px 7px -5px #b0adb0;
        }


        &:active {
            transform: translateY(.6rem);
            box-shadow: -5px 10px 0px -5px #b0adb0;
        }
    }
    div img {

            width: 100%;
            // height: 100%;
            border-radius: 25px;
            box-shadow: -5px 10px 19px -5px rgba(176,173,176,1);
            transition: .25s all ease-in;
    }


    div a {
        margin: 1rem;
        padding: 1rem;
        opacity: 0;
        transition: .5s all;
        width: 100%;
        height: 25%;

        border-radius: 25px;
        z-index: 2;
        // background-color: $color-secondary;
    }
}


footer {
    background-color: $color-light-grey;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    z-index: -1;
    background-image: linear-gradient(
        to bottom right,
        rgba($color-primary, 0.8),
        rgba($color-secondary, 0.8),
        rgba($color-tertiary, 0.8));
    height: 25rem;
    margin-top: -30%;

    p {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 300;
    }
}