//iPhone X
@media screen and (width: 375px) {
    .btn:link, .btn:visited {
        transform: rotate(23deg);
    }
}

//Widths between mobile and tablet+desktop to make the heading clip mask and rotating buttons move as the screen size is changed

@media screen and (min-width: 512px) {
    nav {
        margin-top: -15vh;
    }

   footer {
       margin-top: -25%;
   }


   .heading-primary--main {
       font-size: 5rem;
       line-height: 5rem;
   }

   .heading-primary--sub {
       font-size: 1.8rem;
   }

   .btn {
        &:link,
        &:visited {
        transform: rotate(16.5deg);
        }
        &:hover {
        transform: rotate(0deg);
        }
    }
   
}


//Widths between mobile and tablet+desktop to make the heading clip mask and rotating buttons move as the screen size is changed

@media screen and (min-width: 650px) {


    .btn {
        &:link,
        &:visited {
            transform: rotate(12.5deg);
        }
        &:hover {
            transform: rotate(0deg);
        }
        &:active {
            transform: scale(1.1);
            box-shadow: 0 .5rem 1rem rgba($color-black, .2);
        }
    }
    .image-grid {
        order: 4;
        flex-flow: row wrap;
            div {
            height: 30%;
            width: 40%;
        }
    }

    footer {
        height: 22rem;
    }

    //projectInfo 
    .projectInfo {
        background: linear-gradient(rgba(255, 255, 255, 0.829), $color-secondary-faded, $color-primary-faded);
    }
    
    //contact page

    .contactContainer {
        flex-direction: row;
        justify-content: center;
    }

}
  


// Tablet & Desktop & Landscape view

 @media screen and (min-width: 768px)
 and (orientation: landscape) {

    body {
        padding: 3rem;
        margin: 0 auto;
    }

    .heading-primary {
        margin-bottom: 60px;

        &--main {
            line-height: 6.2rem;
            font-size: 6rem;

            .first-name {
                letter-spacing: 3.5rem;
            }
            .last-name {
                letter-spacing: 1.9rem;
            }
        }
    }

    nav {
        flex-direction: row;
        order: 1;
        justify-content: flex-end;
        height: 100%;
        margin-top: 1rem;
    }

    .nav__links {
        flex-direction: row;
        margin-right: 1rem;
        a {
            margin-right: 1.5rem;
        }
    }

    .btn {
        &:link,
        &:visited {

    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            transition: .5s all;
        }
        &:hover {
            background-color: $color-primary;
            color: white;
        }
        &:active {
            transform: rotate(-12.5deg);

        }
    }

    .header {
        order: 2;
        background-position: 50% 19%;
    }

    .mainContent {
        order: 3;
    }

    .projectInfo {
        // height: auto;
        // width: 75%;
    }

    .projectInfo h2 {
        font-size: 3.5rem;
    }

    .projectInfo p {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .image-grid {
        order: 4;
        flex-flow: row wrap;
            div {
            width: 30%;
        }
    }
    footer {
        margin-top: -10%;
    }

    .flex-lists {
        display: flex;
        flex-direction: row;
   }

   .mainContent__about-list {
       height: 28.7rem;
       width: 40%;
   }

   //blog media queries

   .float-right-50 {
    width: 50%;
    float: right;
    margin: 0 0rem 1rem 1.5rem;
  }
  
  .float-left-50 {
    width: 50%;
    float: left;
    margin: 1rem 1.5rem 0 0;
  }
  

  /* .blog-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  } */

  /* .blogs {
    width: 85%;
    margin-right: 6rem;
  } */

  .blogs {
    margin-bottom: 3rem;
  }

  .blog-entry:first-child {
    width: 80%;
    margin-right: 16rem;
  }

  .blog-entry p {
    font-size: 1.6rem;
    text-indent: 4rem;
  }

  .blog-sidebar {
      margin: 3rem 0;
      width: 15%;
      height: auto;
      position: absolute;
      top: -10px;
      right: 1.5rem;
  }

  .blog-img-hidden {
    margin: 0;
    position: fixed;
    top: 50%;
    right:50%;
    transform: translateX(48.5%) translateY(-50%);
    width: 90%;
    height: auto;
    box-shadow: 0px 0px 20px #000000;
  }
}
