.btn {
    &:link,
    &:visited {
         text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        padding: 10px 10px;
        display: inline-block;
        position: relative;
        font-size: 1.4rem;
        transform: rotate(21.5deg);
        clip-path: polygon(0% 0%, 88% 0%, 100% 100%, 12% 107%);
        -webkit-clip-path:polygon(0% 0%, 88% 0%, 100% 100%, 12% 107%);
    }
    &:hover {
        transform: rotate(0deg);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);
        color: $color-tertiary-faded;
    }
    &:active {
        transform: scale(1.1);
        z-index: 1;
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }
    &--white {
        background-color: $color-white;
        color: $color-primary;
    }

    &--animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
}

.btn-to-top {
    &:link,
    &:visited {
        color: $color-primary;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        padding: 10px 10px;
        font-size: 1.4rem;
        clip-path: polygon(0% 0%, 88% 0%, 100% 100%, 12% 107%);
        -webkit-clip-path: polygon(0% 0%, 88% 0%, 100% 100%, 12% 107%);
    }
    &:hover {
        color: $color-white;
    }
    &:active {
        transform: scale(1.1);
        transform:translateY(-1px);
        z-index: 1;
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }
}

@media screen and (min-width: 512px) {
    .btn {
        &:link,
        &:visited {
            transform: rotate(16.5deg);
        }
        &:hover {
            transform: rotate(0deg);
        }
    }
}

@media screen and (min-width: 650px) {
    .btn {
        &:link,
        &:visited {
            transform: rotate(12.5deg);
        }
        &:hover {
            transform: rotate(0deg);
        }
        &:active {
            transform: scale(1.1);
            box-shadow: 0 .5rem 1rem rgba($color-black, .2);
        }
    }
}

@media screen and (min-width: 768px) {
    .btn {
        &:link,
        &:visited {
            transform: rotate(0deg);
        }
        &:hover {
            transform: rotate(12.5deg);
            }
        &:active {
          transform: scale(1.1);
           box-shadow: 0 .5rem 1rem rgba($color-black,.2);
            }
        }
    }