// Animations

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    90% {
        transform: translateX(10px);
    }
    100% {
        opacity: .8;
        transform: translate(0);
    }
}

@keyframes moveOutLeft {
    0% {
        opacity: 100;
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-50px);
    }
    100% {
        opacity: 0;
        transform: translateX(-100px);
    }
}


@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(300px);
    }
    50% {
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}