
@font-face {
    font-family: "beyond";
    src: url("../fonts/beyond_the_mountains.otf");
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7rem;
    color: $color-grey-dark;
    padding: 3rem;
}


.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.2rem;
    margin-bottom: 60px;

    &-primary--main {
        opacity: .8;
        display: block;
        font-size: 6rem;
        font-weight: 700;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-delay: .1s;
        animation-timing-function: ease-in;
    
            .first-name {
        letter-spacing: 30rem;
        }
             .last-name {
        letter-spacing: 1.7rem;
        }
    }
    
    &-primary--sub {
        display: block;
        text-transform: none;
        font-size: 1.6rem;
        font-weight: 700;
        letter-spacing: 1rem;
        line-height: 2rem;
        opacity: .8;
        animation-name: moveInRight;
        animation-duration: 1s;
        animation-delay: .1s;
        animation-timing-function: ease-in;
    }
}
